.latest-success {
    h4 {
        padding-bottom: 1rem;
    }
    padding-bottom: 2rem;
    &-img {
        height: 200px;
        width: 100%;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

.whitepaper {
    margin-top: 3rem;
    display: flex;
    gap: 2rem;

    &-copy {
        h4 {
            padding-bottom: 1rem;
        }
        padding-bottom: 2rem;
        width: 50%;
    }
    &-preview {
        width: 50%;
        border-radius: 8px;
        img {
            width: 100%;
            border-radius: 8px;
        }
    }   
}

.fullWidth-img {
    width: 100%;
    img {
        width: 100%;
    }
    margin-bottom: 2rem;
}

.emailmarketing-showcase {
    margin-top: 2rem;
    .latest-success {
        width: 80%;
        h4 {
            padding-bottom: 1rem;
        }
        padding-bottom: 3rem;
    }
    img {
        width: 100%;
        border-radius: 8px;
    }
    margin-bottom: 2rem;
}

.otherprojects {
    padding-top: 2rem;
}

.otherprojects-grid {
    padding-top: calc($section-padding / 2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: $section-padding;
}

@import "./mobile/work";